@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p { 
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    padding: 5px;
    font-family: var(--fonte3);
    font-size: 3em;
    line-height: 2em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-family: var(--fonte1);
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    width: calc(100% - 20px);
    height: 250px;
    padding: 10px;
}

header h1 {
    margin-bottom: -30px;
    font-size: 9em;
    font-weight: normal;
    font-variant: small-caps;
}

header p {
    font-size: 1em;
    font-family: var(--fonte1);
    text-align: center;
}

header a {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section {
    width: calc(100% - 5%);
    height: 60%;
    line-height: 3em;
    padding-left: 5%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: white;
}


#sec0 {
    font-family: var(--fonte3);
    
}

#sec1 {
    background-color: transparent;
    background-image: url(../img/background001.jpg);
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#sec1 p, #sec4 p {
    background-color: rgba(0, 0, 0, 0.514);
}

#sec4 {
    background-color: transparent;
    background-image: url(../img/background002.jpg);
    background-position: center;
    background-attachment: fixed;
    color: white;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    font-size: 0.3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
}

footer p {
    font-family: var(--fonte1);
}