@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #97ffdc;
    --cor1: #189c9c;
    --cor2: #075a5a;
    --cor3: #9991919c;
    --cor4: #117251;
    --cor5: #97ffdc;
    --cor6: #4ce9b5;
    --cor7: #3cc497;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: idroid, cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontePadrao);
}



body {
    margin: 0px;
    background-color: var(--cor0)
}

header {
    background-image: linear-gradient( var(--cor1), var(--cor2));
    font: bolder;
    padding-top: 20px;
    color: white;
}

h1#cabecalho {
    font-family: Babel Neue;
    text-align: center;
    font-size: 2em;
} 

h2.cabecalho {
    font-family: Babel Neue;
    text-align: center;
    font-size: 0.8em;

}

.container {
    display: flex;
    column-gap: 3%;
    padding-left: 2%;
    padding-bottom: 5px;
}

.menu {
    font-size: 1.2em;
    font: bolder;
}

.link {
    color: white;
    text-decoration: none;
    padding: 1px
}


.link:hover {
    background-color: var(--cor3);
    width: auto;
    /* O container não pode ser flexbox por conta do :hover. Pense sobre, melhor voltar pro jeito antigo. */
}

main {
    background-color: white;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    /* margin-right: 120px;
    margin-left: 120px; */
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
}

h1.principal {
    font-family: var(--fonteDestaque);
    background-color: var(--cor5);
    color: var(--cor4);
    font-size: 1.5em;
    text-align: left;

}

h2.principal {
    font-family: var(--fonteDestaque);
    background-color: var(--cor5);
    color: var(--cor4);
    font-size: 1.5em;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}


.imagem {
    display: block;
    width: 100%;
    margin: 0px auto
}

.imagem-pequena {
    display: block;
    width: 50%;
    margin: 0px auto
}

main > linkvideo {
    display: block;
    background-color: green;
    padding-top: 1px;
    margin-right: -15px;
    padding-bottom: 1px;
    margin-left: -15px;
    text-align: center;

}

iframe.videoyt {
    display: block;
    margin: 0px auto;
    width: 90%;
}

especial {
    display: inline-block;
    background-color: var(--cor6);
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    margin: 20px;
    border-radius: 10px;
    text-align: justify;
    
}

h2.especial {
    font-family: idroid, Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--cor7);
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: -15px;
    margin-top: -1px;
    margin-left: -15px;
    font-size: 1.5em;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul.lista {
    display: inline-block;
    margin-left: 1%;
    
}
footer {
    background-image: linear-gradient( var(--cor1), var(--cor2));
    font: bolder;
    font-size: 0.5em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}