@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #97ffdc;
    --cor1: #189c9c;
    --cor2: #075a5a;
    --cor3: #9991919c;
    --cor4: #117251;
    --cor5: #97ffdc;
    --cor6: #4ce9b5;
    --cor7: #3cc497;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: idroid, cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontePadrao);
}

body {
    background-color: var(--cor0)
}

header {
    background-image: linear-gradient( var(--cor1), var(--cor2));
    font-family: var(--fontePadrao);
    font-weight: bolder;
    padding-top: 20px;
    min-height: 150px;
    color: white;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.774);
}

header h1 {
    font-family: var(--fonteDestaque);
    text-align: center;
    font-size: 2.5em;
    max-width: 800px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 10px;
    text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.774);
}

header h2 {
    text-align: center;
    font-size: 0.8em;
    max-width: 300px;
    margin: auto;
    text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.774);
}

nav {
    padding-top: 12px;
}

nav a {
    font-size: 1.2em;
}

.container {
    display: flex;
    align-content: flex-end;
    column-gap: 3%;
    padding-left: 2%;
}

.link {
    color: white;
    text-decoration: none;
    padding: 2px 5px;
}

.link:hover {
    background-color: var(--cor7);
    color: var(--cor2);
    width: auto;
}

main {
    background-color: white;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
}

main h1 {
    font-family: var(--fonteDestaque);
    background-color: var(--cor5);
    color: var(--cor4);
    font-size: 1.5em;
    text-align: left;
    padding: 2px 10px;
}

main h2 {
    font-family: var(--fonteDestaque);
    background-color: var(--cor5);
    color: var(--cor4);
    font-size: 1.2em;
    text-align: left;
    padding: 2px 10px;
}

main p {
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong {
    color: var(--cor1)
}

main a.link {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor2);
    padding: 0px;
}

main a.link:hover {
    padding: 2px 0px;
}

.imagem {
    display: block;
    width: 100%;
    margin: 0px auto
}

.imagem-pequena {
    display: block;
    max-width: 350px;
    margin: 0px auto
}

div.video {
    background-color: var(--cor4);
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.774);
}

aside h2 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;

}

aside ul {
    list-style: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
}

footer {
    background-image: linear-gradient( var(--cor1), var(--cor2));
    font: bolder;
    font-size: 0.5em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}
